body {
	margin: 0px;
	background-color: blue;
	text-align: justify;
}

body > * {
	padding: 20px;
	background-color: white;
}

.float-bottom {
	clear: both;
}

header {
	--dividers: 20px;
	margin: 20px;
	padding: var(--dividers);
}

header p {
	margin-bottom: 0px;
}

header h1 {
	text-align: center;
	font-family: sans-serif;
	font-size: 40pt;
	margin: 0px;
}

.element {
	float: right;
	height: 80px;
	width: 80px;
	border: 3px solid black;
	margin-left: var(--dividers);
	padding: 4px 6px;
	box-sizing: border-box;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	background-color: #eee;
}

.element span {
	display: block;
	margin: 0px;
}

.element .number {
	position: absolute;
	font-size: 11pt;
}

.element .symbol {
	font-size: 24pt;
}

.element .name {
	font-size: 11pt;
}

.element .mass {
	font-size: 9pt;
}

main {
	margin: 100px 20vw;
	padding: 20px;
}

main table {
	vertical-align: text-top;
}

main td {
	margin: 10px 0px;
}

main td * {
	margin: 0px;
}

main td.title {
	text-align: right;
}

main button {
	display: block;
}

main #buttons {
	display: flex;
	justify-content: center;
}

main button {
	margin: 10px;
	font-size: 20pt;
}

footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0px;
}

footer ul {
	list-style: none;
}

footer .name {
	font-weight: bold;
}
